a {
    font-family: Fontawesome;
}

.btn1 {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
  }

.row {
    padding: 20px;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.site-footer {
    background-image: linear-gradient(rgb(82, 62, 238), white);
    padding: 10px 0px;
 }